<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit post", edit_post_path(@post) %><br>
  <%= link_to "Back to posts", posts_path, class: "text-secondary" %><br>
  <%= button_to "Destroy post", @post, method: :delete, class: "btn btn-link m-0 p-0 text-decoration-none text-danger" %>
</div>
